<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ISS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="dist/css/style.css">

    </head>
    <body>

        <div class="pageWrap" ng-app="ISS">


            <div class="app-inner" ng-controller="MainController">

                <h1>When Will The International Space Station Pass Next?</h1>

                <input type="text" placeholder="I'm here" ng-model="location">
                <button class="search" ng-click="searchInit()">where</button>

                <ul class="results">
                    <li ng-repeat="location in savedLocations track by $index">
                        <p> Saved location:  {{location.location}}</p>
                        <p> Next Pass: {{location.date}}</p>
                    </li>
                </ul>

            </div>




   <!--  <i ng-show="loading" class="fa fa-3x fa-spinner fa-spin"></i> -->

        </div>



        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="src/js/app.js"></script>
       
    </body>
</html>
